# Исключаем виртуальное окружение и библиотеки
venv/
env/
.venv/
Lib/
bot/Lib/
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключаем системные .dll и .lib
*.dll
*.lib

# Исключаем IDE-файлы
.vscode/
.idea/
*.swp

# Исключаем данные
*.log
*.sqlite
*.db
.DS_Store

# Исключаем конфиденциальные файлы
.env
chat_history/
